<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create blog</title>
</head>
<body>
<h1>Create blog</h1>
<p>
    <a href="/note">Note list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/create-note}" th:object="${note}" method="post">
    <table>
        <tr>
            <td>Blog title:</td>
            <td><input type="text" th:field="*{title}"/></td>
        </tr>
        <tr>
            <td>note type:</td>
            <td>
                <select th:field="*{noteType}">
                    <option th:each="p : ${categories}"
                            th:value="${p.typeId}"
                            th:text="${p.type}">
                    </option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Note:</td>
            <td><textarea type="text" th:field="*{content}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create note"></td>
        </tr>
    </table>
</form>
</body>
</html>