<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/create-note">Create new note</a>
<h1>notes</h1>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/note}" method="get">
    <input type="text" name="search">
    <select name="by">
        <option th:each="p : ${categories}"
                th:value="${p.type}"
                th:text="${p.type}">
        </option>
    </select>
    <button type="submit">Search</button>
</form>
<table border="1">
    <tr>
        <th>Title</th>
        <th>Category</th>
        <th>Detail</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="note : ${notes}">
        <tr>
            <td th:text="${note.title}"></td>
            <td th:text="${note.noteType.type}"></td>
            <td th:text="${note.content}"></td>
            <td><a th:href="@{/edit-blog/__${note.id}__ }">Edit</a></td>
            <td><a th:href="@{/delete-blog/__${note.id}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>
<div>
    <a th:href="@{''(page=${notes.number - 1},search =${search})}" th:if="${notes.hasPrevious()}">Previous</a>
    <span th:text="${notes.number + 1}"></span>/<span th:text="${notes.totalPages}"></span>
    <a th:href="@{''(page=${notes.number + 1},search =${search})}" th:if="${notes.hasNext()}">Next</a>
</div>
</body>
</html>