<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{blog.title}"></title>
</head>
<body>
<a href="/create-blog"><h1 th:text="#{blog.create}"></h1></a>
<a href="/category">Category manage</a>
Language: <a href="?lang=en">English</a> | <a href="?lang=fr">French</a>
<h1 th:text="#{blog.blog}"></h1>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/blog}" method="get">
    <input type="text" name="search">
    <select name="by">
        <option value="all"></option>
        <option value="title"></option>
        <option value="category"></option>
    </select>
    <button type="submit"><h1 th:text="#{blog.search}"></h1></button>
</form>
<table border="1">
    <tr>
        <th><h1 th:text="#{blog.name}"></h1></th>
        <th><h1 th:text="#{blog.category}"></h1></th>
        <th><h1 th:text="#{blog.detail}"></h1></th>
        <th><h1 th:text="#{blog.edit}"></h1></th>
        <th><h1 th:text="#{blog.delete}"></h1></th>
    </tr>
    <th:block th:each="blog : ${blogs}">
        <tr>
            <td th:text="${blog.blogName}"></td>
            <td th:text="${blog.category.name}"></td>
            <td th:text="${blog.blogDetail}"></td>
            <td><a th:href="@{/edit-blog/__${blog.id}__ }"><h1 th:text="#{blog.edit}"></h1></a></td>
            <td><a th:href="@{/delete-blog/__${blog.id}__ }"><h1 th:text="#{blog.delete}"></h1></a></td>
        </tr>
    </th:block>
</table>
<div>
    <a th:href="@{''(page=${blogs.number - 1},search =${search})}" th:if="${blogs.hasPrevious()}">Previous</a>
    <span th:text="${blogs.number + 1}"></span>/<span th:text="${blogs.totalPages}"></span>
    <a th:href="@{''(page=${blogs.number + 1},search =${search})}" th:if="${blogs.hasNext()}">Next</a>
</div>
</body>
</html>